<h1>Edit</h1>
    <%= form_for @user do |f| %>
    <%= f.text_field :name, placeholder: 'Name' %>
    <%= f.text_field :email, placeholder: 'Email' %>
    <%= f.password_field :password, placeholder: 'Password' %>
    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
    <%= f.submit 'Save Changes' %>
    <% end %>

    <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: "Permanently delete this account?" } %>

     <%#= link_to "Home", main_path %>