<link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>


<div class="edit-profile">
<h1>Edit Profile</h1>
    <%= form_for @user do |f| %>
    <%= f.text_field :name, placeholder: 'Name' %>
    <%= f.text_field :email, placeholder: 'Email' %>
    <%= f.password_field :password, placeholder: 'Password' %>
    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
    <%= f.submit 'Save Changes' %>
    <% end %>
<br>
    <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: "Permanently delete this account?" } %>
</div>
    