<h1> SHOW </h1>

<% @board.each do |b| %>
<li> <%= b.name %> <%= b.type %> <%= b.description %></li> 
<% end %>








 <%= link_to "Home", main_path %>
 <%= link_to 'Make Custom Boards', new_board_path %>