<link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="custom-board">
<h3><strong> Make a custom board </strong></h3>
<br>
<br>
<div class="inner-container">
<p> Step 1: The Basics</p>
<%= form_for @board do |f| %>
Name: <%= f.text_field :name, placeholder: "Name" %>
<br>
<br>
<br>

<p> Step 2: Choose your board</p>

Type: <%= f.text_field :type, placeholder: "Type" %>

<%= image_tag("Hand_boards.jpg", :alt => "") %>
<p> Funboards / High Performances Shortboards / Fishes
<br>
<br>
<p> Step 3: Design your board </p>
<%= f.text_field :description, placeholder: "Description" %>


<br>
<br>
<br>
<p> Step 4: Double check and lets make a board!</p>
<%= f.submit "submit!" %>

<% end %>
</div>

<br>
<br>
<br>
<br>
<h3> Board Orders </h3>
<% @boards.each do |b| %>
<br>
<li>
  <%= b.name %> <%= b.type %> <%= b.description %>
  <br>
  <%= link_to 'Edit your orders', edit_board_path(b.id) %>
</li> 
<% end %>
</div>
<br>


<br>
<br>


 