<link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="text-center">
  

<div class="carousel-wrapper">
<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active item-1">
      <%= image_tag("_MG_6900.JPG", :alt => "") %>
      <div class="carousel-caption"></div>
    </div>

    <div class="item item-2">
      <%= image_tag("_MG_6873.JPG", :alt => "") %>
      <div class="carousel-caption"></div>
    </div>


  <div class="item item-3">
      <%= image_tag("_MG_6870.JPG", :alt => "") %>
      <div class="carousel-caption"></div>
    </div>


  <div class="item item-4">
      <%= image_tag("_MG_6866.JPG", :alt => "") %>
      <div class="carousel-caption"></div>
    </div>

  <div class="item item-5">
      <%= image_tag("_MG_6870.JPG", :alt => "") %>
      <div class="carousel-caption"></div>
    </div>

  <div class="item item-6">
      <%= image_tag("_MG_6873.JPG", :alt => "") %>
      <div class="carousel-caption"></div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</div>
</div>

    <br>


<br />

<div class="container">
    <div class="text-left">
      <h4 id="About"><strong>About The Company</strong></h4>
      <p>Marki was established in 2013 and is based in Southern California. The name is a combination between my first and last name.  It has also been a nickname of mine when I was younger, that almost all of my family used to call me. All of the boards are shaped and glassed by me. Marki focuses on making custom and unique boards to the riders request. I like to work new and repeated customers to dial in as close to a perfect board as possible for them.  
    <br>
    <br>
      I began making hand planes for bodysurfing. I made a couple for myself and then decided to see if I can make some that others would like to enjoy. Surprising to me a lot of people showed interest in my craftsmanship and began buying them off of me. After making a bunch of plain ones i began experimenting with stringers and wood pattern inlays and it helped me understand a lot about woodworking, while at the same time making the boards look unique and artistic without having to use stains or paint. 
    <br>
    <br>
      After a year and a half of making hand planes, I noticed that surfboard shaping uses the exact same tools as a woodworker uses. I watched a lot of videos and went to conventions where shapers shaped in front of an audience. After watching and asking a lot of questions I decided to give it a shot. I shaped my first board not knowing what to expect. It took me a while but i got it. I then made the decision to learn how to glass it as well. After it was completed I took it to the water and was surprised at how well it worked! Though it had a lot of problems, I was determined to make another that was better and fix errors that I had made. I shaped a few more for myself, and then friends began to ask me for one. Suddenly people who i have not even met began asking me for a board. From all of that practice, I have shaped many boards and with each one I learn something new.    
    <br>
    <br>
      I strive to make each board unique that will fit the riders specifications and style by various shapes and materials.  Hopefully in the future I can continue to grow and learn. I only want to get better and am looking forward to working and meeting with as many people as possible! </p>
    </div>
</div>
 <br>
 <br>
 
  

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <hr>
        <div class="text-center center-block">
              <a href="https://www.facebook.com/Marki.boards" target="_blank>"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
             <!--  <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a> -->
              <a href="mailto:mark.boards@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
              <a href="http://instagram.com/marki_boards" target="_blank>"><i id="social" class="fa fa-camera-retro fa-3x social-in"></i></a>
        </div>
  <hr>
</div>

    <script>

    

    $('html, body').animate({
        scrollTop: $('#About').offset().top
    }, 950);

    

    </script>
    
