<h1>EDIT THIS BOARD</h1>


<%= form_for @board do |f| %>
    <%= f.text_field :name, placeholder: 'Name' %>
    <%= f.text_field :type, placeholder: 'Type' %>
    <%= f.text_field :description, placeholder: 'Description' %>
    <%= f.submit 'Save Changes' %>
    <%= link_to 'Delete Board', @board, method: :delete %>

  <% end %>



